.floating-image{
    animation: float 3s ease-in-out infinite;
}

// Definindo a animação de flutuação

@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-1.5rem);
    }
    100%{
        transform: translateY(0);
    }
}